<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhân viên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Welcome to Employee Management</title>
</head>
<body>
<h1>Welcome to Employee Management System</h1>
<p>Access the API at <a href="/api/employees/">/api/employees/</a></p>
<div class="container mt-5">
    <h2>Danh sách nhân viên</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Không có nhân viên nào.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
